{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 140,
	"pluginSearchDirs": ["."],
	"arrowParens": "avoid",
	"tabWidth": 3,
	"semi": true,
	"overrides": [
		{
			"files": ["*.json", "*.md", "*.json5", "*.jsonc"],
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
